name: Unit & Integration Tests

on:
  workflow_call:

jobs:
  unit-integration:
    name: Unit & Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup JS environment
        uses: ./.github/actions/setup-js

      - name: Unit tests
        run: bun run test:unit

      - name: Integration tests
        run: bun run test:integration

      - name: Coverage
        run: bun run coverage

      - name: Upload coverage
        if: always()
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/coverage-final.json
          fail_ci_if_error: false
