name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: >
      github.event_name == 'workflow_dispatch' ||
      (github.event.workflow_run.conclusion == 'success' &&
       github.event.workflow_run.head_branch == 'main')

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.workflow_run.head_sha || github.sha }}

      - name: Setup JS environment
        uses: ./.github/actions/setup-js

      - name: Build
        run: bun run build

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: dist/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
    outputs:
      page_url: ${{ steps.deployment.outputs.page_url }}

  lighthouse:
    needs: deploy
    if: needs.deploy.result == 'success'
    uses: ./.github/workflows/_lighthouse.yml
    permissions:
      contents: write
      issues: write
    with:
      url: ${{ needs.deploy.outputs.page_url }}
      wait-seconds: 30
