name: Lighthouse Audit (Scheduled)

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  lighthouse:
    uses: ./.github/workflows/_lighthouse.yml
